body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.admin-item-add-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.admin-item-add-form input {
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.admin-item-add-form input[type=number] {
  width: 50px;
}

.admin-item-add-form input[type=text] {
  width: 200px;
}

.admin-item-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.admin-item-list .item-card {
  width: 75vw;
  padding: 10px;
  margin: 5px;

  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: var(--secondary-light);
  color: var(--on-secondary-light);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(15, 15, 15);

  transition-duration: 0.5s;
}

.admin-item-list .item-card .item-remove {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 35px;

  background: var(--secondary-dark);
  color: var(--accent-light);
  
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
}

.admin-item-list .item-card .item-remove:hover {
  background: var(--accent-dark);
  color: var(--secondary-light);
}
