.container {
  padding: 10px;
}

.admin-carts-view-header {
  width: 100%;

  background: var(--primary-light);

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.admin-carts-view-header form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.admin-carts-view-list {
  width: 100%;

  background: #FFFCF2;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-card {
  background: var(--primary-dark);

  margin: 20px;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-card-header {
  width: 100%;

  font-size: small;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: baseline;
  align-items: center;
}

.cart-card-list {
  background: rgb(231, 233, 233);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-card-item-list {
  width: 100%;

  background: rgb(231, 233, 233);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-card-item {
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;

  display: inline-grid;
  grid-template-columns: 1fr 3fr 3fr 2fr 1fr;

  background: rgb(231, 233, 233);
}