.container {
  padding: 10px;
}

.admin-carts-header {
  width: 100%;

  background: var(--primary-dark);

  padding-top: 10px;
  padding-bottom: 5px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  text-align: center;
}

.admin-summary-container {
  width: 100%;

  background: var(--primary-dark);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.admin-summary-text {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-evenly;
}

.admin-summary-selectors {
  padding: 10px;

  align-content: center;
}

.admin-cart-list {
  width: 100%;

  background: #FFFCF2;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cart-card {
  min-width: 150px;
  max-width: 200px;
  height: 150px;

  background: rgb(231, 233, 233);
  color: black;

  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.cart-card:hover {
  cursor: pointer;
}

.cart-card p {
  padding: 10px;
  border-radius: 4px;
}

.pending {
  background-color: rgb(180, 55, 55);
}

.packed {
  background-color: rgb(173, 109, 25);
}