body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.container {
  background: var(--secondary-light);
  color: var(--on-secondary-light);
}

.back-btn {
    display: inline-block;
    color: #d5d5d5;
    text-decoration: none;
    transition: transform 0.2s;
}

.back-btn:hover {
    transform: scale(1.1);
}

.container form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container input {
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.container input[type=number] {
  width: 50px;
}

.container input[type=text] {
  width: 200px;
}
