body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.admin-summary-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.admin-summary-text {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.admin-summary-selectors {
  padding: 10px;
}

.admin-cart-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  background-color: var(--on-primary-light);
}

.cart-card {
  background: var(--primary-light);
  color: var(--on-primary-light);
  margin: 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;

  flex-grow: 1;
  flex-basis: 20%;

  box-shadow: 2px 2px 4px rgb(15, 15, 15);
}

.cart-card:hover {
  cursor: pointer;
}

.cart-card p {
  padding: 10px;
  border-radius: 4px;
}

.pending {
  background-color: rgb(180, 55, 55);
} 

.packed {
  background-color: rgb(173, 109, 25);
} 
