#cart-list-header {
  width: 100%;
}

.cart-list-container {
  grid-row-start: 1;
  grid-column-start: 3;
  background: lightblue;
  padding: 10px;
  margin: 10px;
  box-shadow: 3px 2px 2px gray;
}

.cart-list-content {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  position: sticky;
  top: 10px;
}
