.cart-details-container {
  grid-row-start: 1;
  grid-column-start: 2;
  background: rgb(29, 221, 71);
  padding: 10px;
}

#cart-details-header {
  width: 100%;
}

.cart-content {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  position: sticky;
  top: 10px;
}
