@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";

:root {
  --primary-dark: rgb(173, 147, 89);
  --primary-light: rgb(153, 180, 240);
  --on-primary-dark: rgb(184, 163, 120);
  --on-primary-light: rgb(15, 15, 15);
  --secondary-dark: rgb(44, 54, 57);
  --secondary-light: rgb(201, 207, 207);
  --on-secondary-dark: rgb(231, 233, 233);
  --on-secondary-light: rgb(15, 15, 15);
  --accent-dark: rgb(201, 26, 26);
  --accent-light: rgb(255, 225, 0);
  --font-family-sans-serif: "Nunito", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: sans-serif;
}

body {
  background: rgb(18, 18, 19);
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
}