body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.login-container {
  width: 25%;
  margin: 50px;

  background: var(--primary-light);
  color: var(--on-primary-light);

  border-radius: 10px;
  box-shadow: 3px 2px 2px gray;
}

.container form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.container input {
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.container a {
  margin: 10px;
}
