.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
}

.marketplace-item-list-container {
  background: var(--primary-dark);
  border-radius: 20px;

  margin-right: 10px;
}

.marketplace-cart-container {
  background: var(--primary-dark);
  border-radius: 20px;
}

.marketplace-item-filter-container {
  height: 40px;
  background: var(--on-primary-dark);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.marketplace-item-filter-container input {
  border-radius: 5px;
}

.marketplace-item-filter-container div {
  align-content: center;
}

.marketplace-item-filter-container select {
  margin: 10px;
}

.marketplace-item-list-container .marketplace-item-list {
  background: #FFFCF2;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.marketplace-item-list-container .item-card {
  width: 150px;
  height: 100px;
  padding: 8px;
  margin: 10px;

  display: grid;
  grid-template-columns: [name] 3fr [quantity] 1fr;
  grid-template-rows: [name] 3fr [description] 1fr;
  justify-content: stretch;
  align-items: center;

  background: var(--secondary-light);
  color: var(--on-secondary-light);
  border-radius: 20px;

  transition-duration: 0.5s;
}

.marketplace-item-list-container .item-card .item-card-itemname {
  font-size: large;

  grid-column: 1;
  grid-row: 1;
}

.marketplace-item-list-container .item-card .item-card-quantity {
  font-size: large;

  grid-column: 2;
  grid-row: 1;
}

.marketplace-item-list-container .item-card .item-card-description {
  font-size: small;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2;
}

.marketplace-item-list-container .item-card .item-card-tags {
  display: none
}

.marketplace-item-list-container .item-card:hover {
  background: var(--accent-light);
  color: var(--on-secondary-light);

  transform: scale(1.1);
  cursor: pointer;
}

.marketplace-item-list-container {
  grid-column: 1;

  text-align: center;
}

.marketplace-cart-submit-container {
  background: var(--on-primary-dark);
}

.marketplace-cart-container {
  grid-column: 2;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.marketplace-cart-container form {
  display: flex;
  flex-direction: column;

  padding: 10px;
}

.marketplace-cart-container input,
.marketplace-cart-container select,
.marketplace-cart-container button {
  padding: 8px;
  margin: 4px;
  border-radius: 10px;
  border: none;
}

.marketplace-cart-list-container {
  width: 100%;
  height: 100%;
  background: #FFFCF2;
}

.marketplace-cart-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.cart-item {
  height: 40px;

  margin: 2px 5px 2px 5px;
  border-radius: 5px;

  background: var(--on-secondary-dark);

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  align-items: center;
  justify-content: center;
}

.cart-item-remove {
  width: 30px;
  height: 30px;

  padding: 0px;

  color: red;

  align-content: center;
  justify-content: center;
}

.marketplace-cart-info {
  width: 100%;
}

.marketplace-cart-info .cart-submit-container {
  height: 40px;
  background: var(--primary-dark);

  align-content: center;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  width: 20vw;
  position: relative;

  background: var(--primary-light);
  color: var(--on-primary-light);

  text-align: center;
  align-items: center;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
}

.modal input,
.modal button {
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.modal button {
  cursor: pointer;
}

.modal-close {
  width: 25px;
  height: 25px;

  position: absolute;
  right: 10px;
  top: 10px;

  color: red;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover {
  cursor: pointer;
}