.marketplace-cart-list-container {
  width: 100%;
  
  background: var(--primary-light);
  color: var(--on-primary-light);
}

.marketplace-item-list-container .item-card {
  width: 50vw;
  padding: 10px 30px 10px 30px;
  margin: 10px;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: var(--secondary-light);
  color: var(--on-secondary-light);
  border-radius: 2px;

  transition-duration: 0.5s;
}

.marketplace-item-list-container .item-card span {
  width: 20%;
}

/* .marketplace-item-list-container .item-card span:first-of-type {
  text-align: left;
}

.marketplace-item-list-container .item-card span:last-of-type {
  text-align: right;
} */

.marketplace-item-list-container .item-card:hover {
  background: var(--accent-light);
  color: var(--on-secondary-light);
  
  transform: scaleY(1.1);
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.marketplace-item-list-container {
  grid-column: 1;

  margin: 10px;
  text-align: center;
}

.marketplace-item-list {
  width: 100%;

  background: var(--primary-light);
  color: var(--on-primary-light);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.marketplace-cart-container {
  grid-column: 2;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  
  margin: 10px;
}

.marketplace-cart-container form {
  display: flex;
  flex-direction: column;

  padding: 10px;
}

.marketplace-cart-container input, .marketplace-cart-container select, .marketplace-cart-container button {
  padding: 8px;
  margin: 4px;
  border-radius: 10px;
  border: none;
}

.marketplace-cart-info {
  width: 100%;
}

.cart-contact-info { 
  background: var(--primary-light);
  color: var(--on-primary-light);
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal-background {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  width: 20vw;
  position: relative;

  background: var(--primary-light);
  color: var(--on-primary-light);

  text-align: center;
  align-items: center;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
}

.modal input, .modal button {
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

.modal button {
  cursor: pointer;
}

.modal-close {
  width: 25px;
  height: 25px;

  position: absolute;
  right: 10px;
  top: 10px;

  color: red;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover {
  cursor: pointer;
}