.navbar-container {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-banner {
  height: 15vh;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background: var(--primary-dark);

  display: block;

  justify-content: center;
  align-content: end;
}

.navbar-banner-background {
  min-height: 5vh;

  background: var(--on-primary-dark);
}

.banner-img {
  max-height: 8vh;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-links {
  background: var(--secondary-dark);

  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: start;
}

.navbar-link-button {
  background: var(--secondary-dark);
  color: var(--on-secondary-dark);

  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;

  transition-duration: 0.5s;
}

.navbar-link-button:hover {
  background: var(--accent-light);
  color: var(--on-primary-light);
  cursor: pointer;
}