.container {
  display: grid;
  padding: 10px;
}

.cart-view-header {
  width: 100%;

  background: var(--primary-dark);

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  justify-content: center;

  text-align: center;
}

.cart-view-cart-list {
  width: 100%;

  background: #FFFCF2;

  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}

.cart-card {
  background: var(--on-primary-dark);

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  margin: 20px 40px 20px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-card-info {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: baseline;
}

.cart-card-info h1 {
  font-size: medium;

  margin-left: 20px;
  margin-right: 20px;
}

.cart-card-items-list {
  width: 100%;

  background: rgb(210, 216, 216);

  display: flex;
  flex-direction: row;
  flex-direction: wrap;
  justify-content: center;
  align-content: start;
  align-items: start;
}

.item-card {
  width: 30%;
  height: 40px;

  background: #FFFCF2;

  border-radius: 5px;

  margin: 2px 5px 2px 5px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}