<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head"); %>
</head>
<body>
  <header>
    <%- include("../partials/header"); %>
  </header>

  <h1>Welcome to The Storehouse</h1>
  <a href="/marketplace">Get started!</a>

  <div>
    <form id="get-cart" action="/carts/details" method="post">
      <input type="hidden" name="admin" value="user">
      <label for="get-cart-name">Find My Cart</label>
      <input id="get-cart-name" type="text" name="username" placeholder="Name" required>
      <input type="submit" value="Get Cart">
    </form>
  </div>
</body>
</html>
