<link rel="stylesheet" href="../styles/css/header.css">
<div>
  <img class="banner-img" src="../styles/assets/images/banner.png">
  <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">The Storehouse</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav> -->
</div>
