<link rel="stylesheet" href="/styles/css/navbar.css">
<div class="navbar-container">
  <div class="navbar-background"></div>
  <img class="banner-img" src="/styles/assets/banner.png">
  <div class="navbar-links">
    <a class="navbar-link-button" href="/">Marketplace</a>
    <a class="navbar-link-button" href="/user/login">Login</a>
  </div>
</div>