<link rel="stylesheet" href="/styles/css/navbar.css">
<div id="navbar-container" class="navbar-container">
  <div class="navbar-banner">
    <img class="banner-img" src="/styles/assets/banner.png">
    <div class="navbar-banner-background"></div>
  </div>
  <div id="navbar-links" class="navbar-links">
    <a class="navbar-link-button" href="/">Marketplace</a>
  </div>
</div>